<!DOCTYPE html>
<html lang="en">

<head>
{%set title="Change Passsword"%}
{%include "partial/head.html"%}
</head>
<body>
{%include "partial/header.html"%}
<main>
<h2>Change Password</h2>
<form method="POST">
<label for="old">Old Password</label>
<input type="password" id="now" name="old" required>
<label for="new">New Password</label>
<input type="password" id="new" name="new" required>
<label for="confirm">Confirm Password</label>
<input type="password" id="confirm" name="confirm" required>
<button type="submit">Change Password</button>
</form>
</main>
</body>

</html>
