# send the cleanup signal to the process every 10 minutes
# if the presentation is not connected to by any users, remove it from memory
*/10 * * * * kill -s SIGUSR1 $(systemctl show --property MainPID syncSlide.service | cut -d= -f2)
