{% extends "nav.html" %}
{% block title %}Join Presentation{% endblock title %}

{% block js %}
<script defer>
document.getElementById("joinForm").addEventListener("submit", function(event) {
event.preventDefault();
let uname = document.getElementById("uname").value.trim();
let code = document.getElementById("code").value.trim();
if (code) {
window.location.href =
	window.location.origin + "/" +
	encodeURIComponent(uname) + "/" +
	encodeURIComponent(code);
}
});
</script>
{% endblock js %}

{% block content %}
<main>
<h1>Join Presentation</h1>
<form id="joinForm">
<label for="uname">Username</label>
<input type="text" id="uname" name="username" required>
<label for="code">Presentation Code</label>
<input type="text" id="code" name="code" required>
<button type="submit">Join</button>
</form>
</main>
{% endblock content %}
