<!DOCTYPE html>
<html lang="en">

<head>
{%set title="Join"%}
{%include "partial/head.html"%}
</head>
<body>
{%include "partial/header.html"%}
{%include "partial/nav.html"%}
<main>
<h2>Join Presentation</h2>
<form id="joinForm">
<label for="uname">Username</label>
<input type="text" id="uname" name="username" required>
<label for="code">Presentation Code</label>
<input type="text" id="code" name="code" required>
<button type="submit">Join</button>
</form>
</main>
{%include "partial/footer.html"%}
</body>

<script>
document.getElementById("joinForm").addEventListener("submit", function(event) {
event.preventDefault();
let uname = document.getElementById("uname").value.trim();
let code = document.getElementById("code").value.trim();
if (code) {
window.location.href =
	window.location.origin + "/" +
	encodeURIComponent(uname) + "/" +
	encodeURIComponent(code);
}
});
</script>
</html>
