<!DOCTYPE html>
<html lang="en">

<head>
{%set title="Stage"%}
{%include "partial/head.html"%}
</head>

<body>
{%include "partial/header.html"%}
<main>
<section aria-labelledby="record">
<h2 id = "record">Record</h2>
<button id="recordPause">Record</button>
<button id="stop">Stop</button>
<p id="timer">00:00:00</p>
</section>
<section aria-labelledby="input">
<h2 id="input">Input</h2>
<label for="markdown-input">Markdown Input</label>
<textarea id="markdown-input"></textarea>
<label for="goTo">Go to slide:</label>
<select id="goTo" name="goTo"></select>
<button id="update">Update</button>
</section>
<article aria-live="polite" id="currentSlide"></article>
</main>
</body></html>
