<!DOCTYPE html>
<html lang="en">

<head>
{%set title="Start"%}
{%include "partial/head.html"%}
</head>
<body>
{%include "partial/header.html"%}
{%include "partial/nav.html"%}
<main>
<h2>Start Presentation</h2>
<form method="POST">
<label for="name">Presentation Name</label>
<input type="text" id="name" name="name" required>
<button type="submit">Start</button>
</form>
</main>
{%include "partial/footer.html"%}
</body>

<script>
document.getElementById("joinForm").addEventListener("submit", function(event) {
event.preventDefault();
let code = document.getElementById("code").value.trim();
if (code) {
window.location.href = window.location.origin + window.location.pathname + "/" + encodeURIComponent(code);
}
});
</script>
</html>
