<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8" />
<title> {{title}} -- SyncSlide</title>
<script defer="defer" src="/js/remarkable.js"></script>
<script defer="defer" src="/js/katex.js"></script>
<script defer="defer" src="/js/auto-render.js"></script>
<script defer="defer" src="/js/render-a11y-string.js"></script>
<script defer="defer" src="/js/common.js"></script>
<script defer="defer" src="/js/handlers.js"></script>
<script defer="defer" src="/js/audience.js"></script>
<script defer="defer" src="/js/recording.js"></script>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/katex.css">
